<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
</head>
<body>
    <h1>My To Do List</h1>

    {% if delete_status%}
    
    <h3>{{delete_status}}</h3>
    
    {% endif%}

    <table>
        <tr>
            <th>TASK</th>
            <th>STATUS</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td> {{task.name}} </td>
            <td>
                <form method = "POST" action = "{% url 'update_status' task.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="{% if task.status == 'Completed' %}Pending{% else %}Completed{% endif %}">
                    <input type="checkbox" name="status" id="status" {% if task.status == "Completed" %}checked{% endif%} onchange="this.form.submit()">
                </form>
            </td>

            <td>
                <form method = "POST" action = "{% url 'delete' task.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Delete Task">
                </form>
            </td>
 
            <td>
                <form method="post" action = {% url "update_name" task.id%}>
                    {% csrf_token %}
                    <input type="text" name="updated_name" id="updated_name" placeholder="Change Task">
                    <input type="submit" value="Change">
                </form>
            </td>

            {% if update_status_status and task.id == update_status_id %}
            <td> {{update_status_status}} </td>
            {% endif %}

            {% if update_name_status and task.id == update_name_id %}
            <td> {{update_name_status}} </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <hr>

    <h1> Enter your own task </h1>
    <form method = "POST" action="{% url 'create' %}">
        {% csrf_token %}
        <input type="text" name="name" id="name" placeholder="Enter task">
        <input type="submit" value="Create Task">
    </form>

    {% if create_status %}
    <h3> {{create_status}} </h3>
    {% endif %}

</body>
</html>
